html,
body {
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.login_box .el-input__inner {
  width: 100%;
  height: 43px;
  background: #072376;
  border: 1px solid #0177dc;
  border-radius: 6px;
  padding-left: 50px;
  color: #fff;
}

.login_box .el-input__inner:focus {
  border: 1px solid #fff;
}

.el-input__inner::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

/* .home_container .el-header {
  background: url('../../assets/images/nav.png') no-repeat;
} */
.el-submenu .el-menu-item {
  width: 199px;
}